
.tabcontent{width:7.5rem;overflow:hidden;}
#tab_content{padding-top:1.8rem;overflow:hidden;width:22.5rem;}
.tabcon{float:left;width:7.5rem;position:relative;}
.list h3{height:.71rem; border-top:1px solid #ebebeb; line-height:.71rem;padding-left:0.20rem;color:#333;}
.list .model{width:7.5rem;background:#fff;}
.list .model-li{height:1rem; line-height:1rem;}
.list .model-li .img-box{height:1rem; width:1rem;}
.list .model-li .img-p{width:.5rem; height:.5rem;}
.list .model-circle{padding-left:.14rem;width:5.4rem;}
.list .model-circle .name{margin-right:.25rem;}
.list .model-circle .num{color:#aaa;font-size:.24rem;}
.list li{border-bottom:1px solid #ebebeb;}
.list .model li:last-child{border-bottom:none;}

.letter-box{position:fixed; width:.64rem;line-height:.38rem;right:0;top:2rem;color:#aaa;font-size:.24rem;}
.letter-box li{text-align:center;}

.circle-list{position:fixed;top:0.9rem;left:0;width:7.5rem;height:12rem;z-index:11;
	-moz-transform:translateX(7.5rem);
	-webkit-transform:translateX(7.5rem);
	-ms-transform:translateX(7.5rem);
	transform:translateX(7.5rem);
	display:none;
}
.show-circle{-moz-transform:translateX(0);
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);}
.circle-list .back-box{background:#000;opacity:0.6;width:1rem;height:100%;}
.circle-list .back-box i{background:url(../img/backup.png) no-repeat;width:.34rem;height:.34rem;background-size:100%; display:block;}
.circle-list .listp{background:#fff;width:6.5rem;height:100%;overflow:hidden;overflow-y:scroll;}
.circle-list .listp .model-title{padding:0 .2rem;background:#f5f5f5;height:.9rem;line-height:.9rem;}
.circle-list .listp .model-title .img-box{width:.88rem;height:.9rem;}
.circle-list .listp .model-title .img-p{width:.5rem; height:.5rem;}
.circle-list .listp .model-title .model-circle{font-size:.32rem;}
.circle-list .listp .model-title .model-circle .name{margin-right:.2rem;}
.circle-list .listp .model-title .model-circle .num{color:#aaa;font-size:.24rem;}
.circle-list .li{position:relative;height:1rem;width:100%;}
.circle-list .li .anchor{font-size:.32rem;height:1rem;width:100%;color:#333;}
.circle-list .anchor .img-box{width:1.2rem;height:1rem;}
.circle-list .anchor .img-p{width:.76rem; height:.48rem;}
.circle-list .anchor .circle{line-height:1rem;height:1rem; width:5.3rem;border-bottom:1px solid #ebebeb;}
.circle-list .anchor  .circle-name{margin-right:.1rem;}
.circle-list .anchor  .circle-people{color:#aaa;font-size:.24rem;}
.circle-list .focus{position:absolute;display:block;border:1px solid #ebebeb;top:.3rem;right:.2rem;color:#529ff2; font-size:.24rem; width:1.18rem;text-align:center;}
.circle-list .on{color:#aaa;}
