body{width:7.5rem;}
.tag-area {padding-top:1.74rem;background:#fff;}
.tag-area .title{height:.80rem;}
.tag-area .title h3{margin-bottom:.2rem;text-align:center;color:#333;font-size:.36rem;line-height:.36rem;}
.tag-area .title p{text-align:center;color:#aaa;font-size:.24rem;line-height:.24rem;}
.tag-area .tag-box{position:relative;height:6.8rem;}
.tag-area .tag{ position:absolute;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;height:.6rem;max-width:2.3rem;padding:0 0.13rem;border:1px solid #529ff2;border-radius:2px; font-size:.28rem;color:#529ff2; line-height:.6rem;
	 opacity:1;
	 -webkit-animation:animations 1s ease-in ;
    -moz-animation:animations 1s ease-in ;
    animation:animations 1s ease-in ;
}
@-webkit-keyframes animations{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes animations{
	0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes animations{
    0%{opacity:0;}
    100%{opacity:1;}
}
.tag-area .tag em{font-style:normal;display:inline-block;width:.2rem;height:.15rem;margin-right:.1rem;}
.tag-area .tag em:after{content: "\2b";}
.tag-area .on {color:#aaa;border-color:#aaa;}
.tag-area .on em{color:#44be65;}
.tag-area .on em:after{content: "\221a";}
.tag-area .pos1{top:1.03rem;left:.53rem;}
.tag-area .pos2{top:1.2rem;right:.94rem;}
.tag-area .pos3{top:3.19rem;left:.6rem;}
.tag-area .pos4{top:2.65rem;right:.2rem;}
.tag-area .pos5{top:4.04rem;left:3.7rem;}
.tag-area .pos6{top:4.98rem;left:1.53rem;}
.tag-area .tag-btn{position:absolute;top:1.84rem;left:3.02rem; display:block; width:1.51rem;height:1.51rem;background:#529ff2;border-radius:50%;color:#fff;font-size:.32rem;line-height:1.51rem;text-align:center;}

.select-box{padding:.36rem .1rem 0 .1rem;}
.select-box .sel-list{overflow:hidden;width:7.5rem;padding-bottom:.3rem;}
.select-box .sel{margin-right:.19rem;margin-bottom:.19rem;border:1px solid #f1f1f1; border-radius:3px;background:#fff;padding:0 0.1rem;line-height:.5rem;font-size:.24rem;color:#333;}
.select-box .sel-left{float:left;}
.select-box .sel em{font-style:normal;color:#fd745d;display:inline-block;width:.12rem;height:.12rem;margin-left:.1rem;}
.select-box .sel  em:before{content: "\d7";}
.select-box .complete-btn{display:block;background:#529ff2;border-radius:3px; font-size:.3rem; color:#fff; line-height:.6rem;width:2rem;text-align:center;}

